spring:
  application:
    name: zdfmediathek-mcp

  ai:
    mcp:
      server:
        enabled: true
        name: zdf-mediathek-mcp
        protocol: streamable
        streamable-http:
          mcp-endpoint: /

  security:
    oauth2:
      client:
        registration:
          zdf:
            client-id: ${zdf.clientId}
            client-secret: ${zdf.clientSecret}
            client-authentication-method: client_secret_post
            authorization-grant-type: client_credentials
        provider:
          zdf:
            token-uri: ${zdf.url}/oauth/token

zdf:
  url: https://prod-api.zdf.de
  clientId: mediathek-search
  clientSecret: ZDFmediathekSearchClientSecret