spring:
  application:
    name: zdfmediathek-mcp

  ai:
    mcp:
      server:
        enabled: true
        name: zdf-mediathek-mcp
        protocol: streamable
        streamable-http:
          mcp-endpoint: /

  security:
    oauth2:
      client:
        registration:
          zdf:
            client-id: ${zdf.client.id}
            client-secret: ${zdf.client.secret}
            client-authentication-method: client_secret_post
            authorization-grant-type: client_credentials
        provider:
          zdf:
            token-uri: ${zdf.url}/oauth/token

zdf:
  url: https://prod-api.zdf.de
  client:
    id: mediathek-search
    secret: ZDFmediathekSearchClientSecret

logging:
  level:
    root: INFO
    eu.wiegandt.zdfmediathekmcp: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web.reactive.function.client: DEBUG
    org.springaicommunity.mcp: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] %-40.40logger{39} : %m%n%wEx"

